:root {
    background-color: rgb(240, 228, 161);
}

.header {
    background-color: rgb(1, 66, 20);
    background-image: linear-gradient(to left, rgb(0, 197, 49), #018a2f, rgb(5, 65, 0));
    height: 50px;
}

.header-text {
    color: rgb(250, 243, 202);
    text-align: center;
    padding-top: 10px;
}

.bold {
    font-weight: bold;
    font-size: 25px;
}

.form-input {
    width: 225px;
    height: 30px;
}

.btn {
    width: 233px;
    height: 25px;
    color: rgb(250, 243, 202);
    background-color: #018a2f;
    border: none;
    border-radius: 4px;
}

.btn-div {
    float: left;
    padding-top: 8px;
}

.btn:active {
    background-color: #03df33;
    transform: translateY(4px);
}

hr {
    margin-top: 50px;
    width: 255px;
    margin-left: 1px;
}

h3 {
    margin-top: -5px;
    font-size: 25px;
}

.card {
    background-color: rgb(0, 197, 49);
    color: #3d3d3d;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    display: inline-block;
}

#past-search {
    color: rgb(250, 243, 202);
    margin-top: 20px;
    margin-right: 80%;
}

p {
    background-color: rgb(5, 65, 0);
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    color: rgb(250, 243, 202);
}

#card-container {
    text-align: center;
}