.header {
    background-color: rgb(1, 66, 20);
    background-image: linear-gradient(to right, #02cf57, #02852d, #00470c);
    height: 50px;
}

.header-text {
    color: rgb(240, 228, 161);
    text-align: center;
    padding-top: 10px;
}

.bold {
    font-weight: bold;
    font-size: 25px;
}

.form-input {
    width: 225px;
    height: 30px;
}

.btn {
    width: 233px;
    height: 25px;
    color: rgb(240, 228, 161);
    background-color: #007e1b;
    border: none;
    border-radius: 4px;
}

.btn-div {
    float: left;
    padding-top: 8px;
}

.btn:active {
    background-color: #03df33;
    transform: translateY(4px);
}

hr {
    margin-top: 50px;
    width: 255px;
    margin-left: 1px;
}

h3 {
    margin-top: -5px;
    font-size: 25px;
}

.card {
    background-color: lightgray;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    display: inline-block;
}

#past-search {
    background-color: lightgray;
    border-radius: 5px;
    margin-top: 20px;
}

#card-container {
    text-align: center;
}